.leftPaddle {
  position: absolute;
  background-color: red;
  top: 0px;
}
.rightPaddle {
  position: absolute;
  background-color: red;
  top: 0px;
  float: right;
}
#canvas-wrap {
  position: absolute;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#heading {
  padding: 0;
  margin: 0;
}

#board {
  position: absolute;
}
#score-wrap {
  position: absolute;
  padding: 0;
  margin: 0;
}
#score {
  position: absolute;
}
#finishedPage {
  display: none;
}
#game {
  position: relative;
  display: none;
  padding: 0;
  margin: 0;
}
#leaveGame {
  position: absolute;
  display: none;
}
#backToLobby {
  position: absolute;
  display: none;
}
